#Notifications {
  width: 250px;
  height: 0;
  overflow-y: visible;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
  // .notifications-body {
    // height: 100vh;
    // overflow-x: hidden;
    .alert {
      animation-name: show,hide;
      animation-timing-function: linear;
      animation-duration: 0.5s;
      animation-delay: 0s,5s;
    }
  // }
}
@keyframes show{
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0);
  }
}
@keyframes hide{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(100%);
  }
}